# Data Type

* Integer (int)

    There is no limit how long integer value can be

In [1]:
a = 12

In [2]:
type(a)

int

In [3]:
b = 123456789

In [4]:
type(b)

int

* Float

    Float value specified with a decimal point

In [5]:
c = 1.2

In [6]:
type(c)

float

In [7]:
d = 123.45

In [8]:
type(d)

float

* Complex

    Complex numbers is represented as A+Bj 
    
    where A is real part and B is imaginary part.

In [22]:
k = 12+12.3j

In [23]:
type(k)

complex

In [24]:
l = 0.5+22222j

In [25]:
type(l)

complex

* String (str)

    Strings are sequences of character data
    
    Strings in python are surrounded by either single quotation marks (' '), or double quotation marks (" ")

In [10]:
e = "An Apple"

In [11]:
type(e)

str

In [12]:
f = "What a wonderfull world"

In [13]:
type(f)

str

New Line

    use \n for new line or 3 double quotes

In [15]:
g = "An Apple for you \n Two Manggoes for her"

In [16]:
print(g)

An Apple for you
 Two Manggoes for her

In [17]:
h = """This is my new book,
and that's yours"""

In [18]:
print(h)

This is my new book,
and that's yours

 Escape character
    
    To insert characters that are illegal in a string, use an escape character.

    An escape character is a backslash \ followed by the character you want to insert.

In [26]:
m = "I\'am the king"

In [27]:
print(m)

I'am the king

In [28]:
print('She is \"The One\"')

She is "The One"

* Boolean

    Two type of value in the boolean data type is True or False

In [19]:
23 >= 21.2

True

In [20]:
i = 12
j = 12.2

In [21]:
i > j

False