* Zfill

    Adds zeros (0) at the beginning of the string, until it reaches the specified length

    the chacaracter must be less or equal to the zfill value

In [1]:
q = 12

In [2]:
str(q).zfill(5)

'00012'

In [ ]:
#d variabel already has 4 character, so no filling is done

In [3]:
d = 12.4

In [4]:
str(d).zfill(4)

'12.4'

In [5]:
a = "apple"

In [6]:
a.zfill(12)

'0000000apple'

In [7]:
p = "900"

In [8]:
p.zfill(8)

'00000900'

* rjust and ljust

    returns a new string of given length after substituting a given character in left side of original string
    

* Center
    
    will center align the string, using a specified character (space is default) as the fill character

In [9]:
a = "Kampus Merdeka"

In [10]:
a.rjust(20)

'      Kampus Merdeka'

In [11]:
a.ljust(20)

'Kampus Merdeka      '

In [12]:
a.center(20)

'   Kampus Merdeka   '

In [13]:
a.center(20, "-")

'---Kampus Merdeka---'

In [14]:
print('Kampus merdeka batch 3'.center(50))
print('Angkatan ketiga tahun 2022.'.ljust(75))
print('Kelas data science B jadwal kelas setiap hari'.ljust(70))
print('tidak belupa berdo\'a setiap pagi'.rjust(70,"-"))

              Kampus merdeka batch 3
Angkatan ketiga tahun 2022.
Kelas data science B jadwal kelas setiap hari
--------------------------------------tidak belupa berdo'a setiap pagi

* String literal
    
    Specify the contents of a string in a program
    
    String literals can use single or double quote

In [2]:
a = 'an apple'
b = "an apple"

In [3]:
print(a)

an apple

In [4]:
print(b)

an apple

In [ ]:
a == b

In [5]:
print("""I used to be
like that song""")

I used to be
like that song

In [6]:
print('That is the new book \n and I like it')

That is the new book
 and I like it

* escape character

 to allow input the character such as ' and "in the string
 
 use backlash \

In [7]:
'I don\'t like that cake'

"I don't like that cake"

In [8]:
"Jangan lupa berdo\'a setiap pagi'"

"Jangan lupa berdo'a setiap pagi'"

In [10]:
'She is the \"one\"'

'She is the "one"'

* Raw string

   Created by prefixing a string literal with ‘r’ or ‘R’
   
   Python raw string treats backslash (\) as a literal character
   
   This is useful when we want to have a string that contains backslash 
   
   and don’t want it to be treated as an escape character

In [12]:
print(r"Kampus\tMerdeka")

Kampus\tMerdeka

In [ ]:
# this command'\t' is use for tab, but because whe use raw string, it would be printed as it written

In [13]:
print("Kampus \tMerdeka")

Kampus 	Merdeka