# Set

    Sets are used to store multiple items in a single variable, must be uniqe, define by brackets { }
    
    Set is a collection which is unordered, unchangeable, and unindexed

In [2]:
a = {'one', 'two', 'three', 'four', 'five',6, 7, 8, 9, 10}

In [3]:
print(a)

{'five', 'two', 6, 'three', 7, 8, 9, 10, 'one', 'four'}

* Union

    Returns a set that contains all items from the original set, and all items from the specified set(s).

In [5]:
a = {'one', 'two', 'three', 'four', 'five',6, 7, 8, 9, 10, 10, 9, 8, 7}

In [9]:
print(a)

{'five', 'two', 6, 'three', 7, 8, 9, 10, 'one', 'four'}

In [6]:
b = {'six', 'seven', 'eight', 8, 9, 10}

In [10]:
print(b)

{'seven', 8, 9, 10, 'six', 'eight'}

In [8]:
print(a.union(b))

{'five', 'two', 6, 'three', 7, 8, 9, 10, 'seven', 'one', 'four', 'six', 'eight'}

*Intersection

    the returned set contains only items that exist in both sets
    
    or in all sets if the comparison is done with more than two sets

In [12]:
print(a.intersection(b))

{8, 9, 10}